.error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: #0000008b;
  transition: 0.7s;
}
.error-article {
  width: 400px;
  min-height: 200px;
  height: min-content;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}
.error-article p {
  border-radius: 12px;
  padding: 10px;
  background-color: #e1e1e1;
}
.close-button {
  border-radius: 12px;
  padding: 10px 20px;
  width: max-content;
  background-color: #4043C9;
  color: white;
  transition: 0.5s;
}
.close-button:hover{
  filter: brightness(110%);
}
.button-section{
  display: flex;
  justify-content: end;
  width: 100%;
}