.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000008b;
  }
  .error header{
    width: clamp(20%, 50%, 80%);
    height: clamp(20%, 50%, 80%);
    background-color: whitesmoke;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error header figure{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .error header figure button{
    background-color: red;
    font-size: 2rem;
    padding: 5px 20px;
    color: whitesmoke;
    border-radius: 0 12px 0 12px;
    cursor: pointer;
    transition: 0.5s;
  }
  .error header figure button:hover{
    background-color: rgb(252, 98, 98);
  }
  .error header p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
  }