*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: start;
  width: 1000px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 1px 0px 20px 8px #4042c95d;
}
section{
  padding: 10px;
  height: 100%;
  width: 100%;
}
.child-1, .child-2{
  width: 100%;
}
.child-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
  gap: 10px;
}
.aside-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #4043C9;
  border-radius: 12px 0 0 12px;
}
#title{
  font-size: 3rem;
  color: #E3E3E3;
  text-align: center;
}
.task-section{
  border-radius: 0 12px 12px 0;
  background-color: #FFFFFF;
}
.error{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000008b;
}
.error header{
  width: clamp(20%, 50%, 80%);
  height: clamp(20%, 50%, 80%);
  background-color: whitesmoke;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error header figure{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.error header figure button{
  background-color: red;
  font-size: 2rem;
  padding: 5px 20px;
  color: whitesmoke;
  border-radius: 0 12px 0 12px;
  cursor: pointer;
  transition: 0.5s;
}
.error header figure button:hover{
  background-color: rgb(252, 98, 98);
}
.error header p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
}
@media (width < 1000px){
  body{
    display: flex;
    align-items: flex-start;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    box-shadow: none;
  }
  .aside-section{
    border-radius: 0;
  }
}