*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
}
*:focus-visible{
  outline: 4px solid #8896e2;
  border: 4px solid rgb(255, 255, 255);
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: start;
  width: 1000px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 1px 0px 20px 8px #4042c95d;
}
.child-1, .child-2{
  width: 100%;
}
.child-1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.aside-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #4043C9;
  border-radius: 12px 0 0 12px;
  padding: 10px;
  height: 100%;
}
h1{
  font-size: 2.5rem;
  color: #E3E3E3;
  text-align: center;
  font-weight: 600;
}
.task-section{
  border-radius: 0 12px 12px 0;
  background-color: #FFFFFF;
  overflow: auto;
  padding: 10px;
  height: 100%;
}

@media (width < 1000px){
  body{
    display: flex;
    align-items: flex-start;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    box-shadow: none;
  }
  .aside-section{
    border-radius: 0;
  }
}